#footer1{
    height: 750px;
    margin-top: 40px;
    border: 0px solid blue;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#footer1 img{
    margin-top: 40px;
    width: 5%;
    height: 65px;
}
#footer1 h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none solid rgba(255,255,255);
    height: 48px;
    
}
#footer1 >p{
    font-size: 21px;
    line-height: 24px;
    text-decoration: none solid rgba(255,255,255);
    height: 48px;
    width: 780px;
    word-spacing: 0px;
    margin: auto;
}
#devices{
    display: flex;
    margin-left: 340px;
    gap: 70px;
}
#devices img{
    width: 80px;
    height: 50px;
    background-color: white;
    margin-left: 20px;
    margin-top: 24px;
}
#devices h4{
    font-size: 15px;
    font-weight: 600;
    line-height: 22.05px;
    word-spacing: 0px;
    margin-left: 15px;
    margin-top: 10px;
}
#footer1 h2{
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none solid rgba(255,255,255);
    height: 48px;
    width: 780px;
    word-spacing: 0px;
    margin: auto;
}
#devices1{
    display: flex;
    margin-left: 440px;
    gap: 50px;
    margin-bottom: 0px;
    margin-top: 1px;
}
#devices1 img{
    width: 80px;
    height: 50px;
    background-color: white;
    margin-left: 20px;
    margin-top: 24px;
}
#devices1 h4{
    width: 135px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.05px;
    word-spacing: 0px;
    margin-top: 10px;
    margin-left: 25px;
    height: 5px;
}
#devices1 p{
    margin-top: 17px;
    font-size: 15px;
    line-height: 22.05px;
    margin-left: 25px;
    height: 8px;
}
#footer1 h5{
    margin-top: 57px;
    font-size: 15px;
    line-height: 13.09px;
    font-weight: 600;
    text-align: center;
}
#footer1 a{
    color: rgb(24, 189, 255);
    text-decoration: no;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
/* 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

section{
    min-width:100%;
    width:80%;
    margin: 0 0 40px 0 ;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #323232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title{
    margin: 40px 0 40px 0 ;
    font-size: 3rem;
    margin:2 rem 0rem
}
.faq{
   
    width: 70%;
    margin-top: 2px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    cursor:pointer
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h2{
    font-size: 25px;
    font-weight: 300;

}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
}
.answer p{
 padding-top: 1rem;
 line-height: 1.4;
 font-size: 14px;
}

.faq.active .answer{
    max-height: 300px;
    
}

.faq.active svg{
    transform: rotate(180deg);
    
}
svg{
    transition: transform 0.5s ease-in;
}
.global-footer_left{
   right: 480px;
   display: flex;
   justify-content: space-between;
   margin: auto;
}
.global-footer_left> p a{
   margin-left: 16px;
   color: rgb(31, 159, 210);
}