@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section{
    min-width:100vh;
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand",sans-serif;
}

.title{
    font-size: 3rem;
    margin:2 rem 0rem
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor:pointer
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h2{
    font-size: 2rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
 padding-top: 1rem;
 line-height: 1.4;
 font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}