

/* ------------------------------Navbar----------------------- */
.main-nav {
    width: 100%;
    height: 3.25rem;
    background: black;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
  }
  .nav-content {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.25rem;
  }
  #main-logo {
    height: 20px;
    width: 53px;
    background-image: url(https://tv.apple.com/assets/brands/Apple_TV_plus_logo_white-2721485772b7d06c4e33379ce990870e.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  .sign-in_btn {
    background: #0a84ff;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    font-size: 0.8rem;
  }
  #signin-btn_text {
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
  }
  #nav-search{
    border: 2px solid white;
    background-color: black;
    margin: 0.5rem;
    padding: 0.3rem 0.3rem;
    border-radius: 7%;
    color: rgb(239, 239, 239);
  }

  /* -----------------------Backdrop------------------------- */

  /* #backdrop{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

  } */

  /*----------------------------- Modal------------------------ */

  .modal{
    position: fixed;
    z-index: 200;
    display: none;
    margin: auto;
    top: 15%;
    left: 30%;
    background: #333333;
    border-radius: 1rem;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .closeBtn{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }
  .closeBtn button{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: url("https://tv.apple.com/static-commerce/img/close.d279866e.svg");
    filter: invert(100%) contrast(90%);

  }
  .modal-pages {
    height: 100%;
  }
  
  .modal-pages iframe {
    border: none;
  }

  .advertisement {
    position: fixed;
    width: 100vw;
    height: 6.25rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #262629;
    z-index: 10;
    user-select: none;
  }
  .hide {
    opacity: 0;
    bottom: -100%;
    transition: all 2s;
  }
  .show {
    opacity: 1;
    bottom: 0;
    transition: all 1s;
  }
  
  .adv-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }
  
  .adv-details a {
    color: #0a84ff;
    text-decoration: none;
  }
  
  .adv-heading {
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0.4rem 0;
  }
  
  .adv-desc {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
  }
  
  .cta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .cta-btn {
    cursor: pointer;
    font-size: 0.82rem;
    width: 8rem;
    border-radius: 0.3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.88);
    padding: 0.5rem 1rem;
    background: white;
    box-shadow: rgb(0 0 0 / 6%) 0 0 20px;
    margin: 1rem 0 0.1rem 0;
  }
  
  .cta-desc {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
  }



  /* -------------- */
  .jumbotron {
    height: 850px;
    position: relative;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.7) 30%,
      rgba(255, 255, 255, 0) 60%
    );
  }
  
  .jumbotron-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .jumbotron-img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .jumbotron-main_heading {
    font-size: 5rem;
    margin-bottom: 0;
    font-weight: 700;
    user-select: none;
  }
  
  .jumbotron-sub_heading {
    font-size: 2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    user-select: none;
  }
  
  .jumbotron-btn {
    color: #000;
    background: white;
    font-size: 1rem;
    font-weight: 550;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .jumbotron-info {
    color: #6e6e73;
    font-weight: 500;
    margin: 0.3rem 0;
    user-select: none;
  }
  
  .jumbotron a {
    text-decoration: none;
    color: #409cff;
  }
  
  #jumbotron-arrow {
    color: white;
    padding: 1rem 0;
  }

  